
OPENAI_API_KEY=
OPENAI_DEFAULT_MODEL=
OPENAI_DEFAULT_EMBEDDING_MODEL=

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEFAULT_MODEL=
AZURE_OPENAI_DEFAULT_EMBEDDING_MODEL=

GEMINI_API_KEY=
GEMINI_DEFAULT_MODEL=
GEMINI_DEFAULT_EMBEDDING_MODEL=

OPENROUTER_API_KEY=
OPENROUTER_DEFAULT_MODEL=

GROQ_API_KEY=
GROQ_DEFAULT_MODEL=

ANTHROPIC_API_KEY=
ANTHROPIC_DEFAULT_MODEL=

BEDROCK_REGION=
AWS_BEARER_TOKEN_BEDROCK=
BEDROCK_DEFAULT_MODEL=

HUGGINGFACE_API_KEY=
HUGGINGFACE_PROVIDER=
HUGGINGFACE_DEFAULT_MODEL=
HUGGINGFACE_BILL_TO=
